<spacer size="10"></spacer>
<container>
    <row>
        <columns>
            <spacer size="20"></spacer>
            <h4 class="text-center title-light">Ми в соцмережах</h4>
        </columns>
    </row>
    <row>
        <columns small="12" large="12">
            <center>
                <menu class="social">
                    <item href="{{social.fb}}">
                        <img src="assets/img/fb.png" alt="" class="float-center">
                    </item>
                    <item href="{{social.twitter}}">
                        <img src="assets/img/tw.png" alt="" class="float-center">
                    </item>
                    <item href="{{social.vk}}">
                        <img src="assets/img/vk.png" alt="" class="float-center">
                    </item>
                    <item href="{{social.youtube}}">
                        <img src="assets/img/youtube.png" alt="" class="float-center">
                    </item>
                </menu>
            </center>
        </columns>
    </row>
</container>
<spacer size="10"></spacer>
<container>
    <row>
        <columns>
            <spacer size="30"></spacer>
            <center>
                <button class="default custom" href="#">Купити квиток</button>
            </center>
        </columns>
    </row>
</container>
<spacer size="10"></spacer>
<container>
    <row>
        <columns>
            <spacer size="20"></spacer>
            <h4 class="text-center title-light">Контакти</h4>
        </columns>
    </row>
    <row class="collapse">
        <columns class="contact-info">
            <p class="text-center">Email: {{email}}</p>
            <p class="text-center">Skype: {{skype}}</p>
        </columns>
    </row>
</container>
