<container>
    <row>
        <columns>
            <spacer size="20"></spacer>
            <h3 class="text-center title">KharkivCSS #3</h3>
        </columns>
    </row>
    <row class="collapse">
        <columns class="contact-info">
            <p class="text-center">{{date}}</p>
            <p class="text-center">{{address}}</p>
        </columns>
    </row>
    <row>
        <columns class="border"></columns>
    </row>
    <row>
        <columns>
            <spacer size="20"></spacer>
            <center>
                <button class="default custom" href="#">Купити квиток</button>
            </center>
        </columns>
    </row>
</container>
<spacer size="10"></spacer>
<container>
    <row>
        <columns>
            <img src="assets/img/header.png" alt="">
        </columns>
    </row>
</container>