<spacer size="10"></spacer>
<container>
    <row>
        <columns>
            <spacer size="20"></spacer>
            <h4 class="text-center title-light">Доповідачі</h4>
        </columns>
    </row>
    <row>
        <columns large="6">
            <center>
                <img src="assets/img/denisMescheriakov.jpg" alt="">
            </center>
            <spacer size="10"></spacer>
            <h5 class="speaker-title text-center">Мещеряков Денис</h5>
            <h6 class="theme-title text-center">Email Templates</h6>
            <p class="speaker-description">Верстка писем вызывает у вас ужас? Волосы становятся дыбом только от одной мысли про табличную верстку?
                И вообще кому нужны эти письма их же никто не читает…
                Давайте разберемся какая она верстка писем в 2018!</p>
        </columns>
        <columns large="6">
            <center>
                <img src="assets/img/dersmoll.png" alt="">
            </center>
            <spacer size="10"></spacer>
            <h5 class="speaker-title text-center">Смолянинов Александр</h5>
            <h6 class="theme-title text-center">Понижаем порог вхождения в performance</h6>
            <p class="speaker-description">
                Последнее время появляется все больше хороших технических статей и докладов,
                где подробно описаны способы повышения производительности в вебе.
                Несмотря на это, многие разработчики все еще не спешат к ним прислушиваться.
                Давайте разберемся, почему так, что мы можем с этим сделать и как заработать на этой ситуации.</p>
        </columns>
    </row>
</container>